body {
    margin: 0 auto;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #f5f5f5;
}

header {
    background-color: #0d253f;
    padding: 1rem;
    text-align: center;
    color: #f5f5f5;
    line-height: 1.6;
    letter-spacing: 0.05em;
}

header form {
    display: block;
    margin-top: 20px;
}

header form label {
    margin-right: 10px;
    color: #f5f5f5;
    display: inline;
}

header form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1em;
    height: 40px;
    background-color: #f3ad21;
    color: #DDDDDD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f39c12;
}

a:visited {
    color: #346fae;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.8);
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    padding: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    background-color: #0d253f;
    color: #f5f5f5;
}

.dropdown-content li:nth-child(even) {
    background-color: #e5e5e5;
    color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

h1,
h2 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0;
}

p {
    text-align: justify;
    hyphens: auto;
    margin: 20px 0;
    line-height: 1.8;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
    text-indent: 2em;
}

p::first-letter {
    font-size: 1.4em;
    font-weight: bold;
}

.cookies-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(15, 39, 68, 0.7);
    color: #f5f5f5;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    display: block;
}

.cookies-popup button {
    background-color: #f39c12;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.cookies-popup button:hover {
    background-color: #f39c12;
}

.overarchingArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.content {
    margin: 0 auto;
    width: 1280px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: start;
}

.image-gallery figure {
    margin: 0;
    text-align: center;
}

.image-gallery img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.image-gallery .image-description {
    text-align: justify;
    margin-top: -10px;
    max-width: 800px;
    line-height: 1.6;
    font-size: 1rem;
}

.image-gallery p {
    text-align: justify;
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.image-gallery article {
    text-align: center;
}

figure {
    margin: 0;
    width: 100%;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    display: flex;
    align-content: stretch;
}

.speech-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 40px;
    max-width: 65%;
    border-radius: 20px;
}

.speech-bubble p {
    text-align: center;
}

.speech-bubble blockquote {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f0f0f0;
}

/* Align first and third bubbles to the right */
.speech-bubble.right {
    flex-direction: row;
    /* Puts image on the left */
    justify-content: flex-end;
    align-self: flex-end;
    background-color: #f3ad21;
}

.speech-bubble.left {
    flex-direction: row;
    /* Puts image on the left */
    align-self: flex-start;
    background-color: #0d253f;
}

.speech-bubble img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.9em;
    color: #555;
}

figcaption img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.testimonial.reverse .user-img {
    margin-left: 0;
    margin-right: 20px;
}

.user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background-color: #0d253f;
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul>li {
    display: inline;
    margin: 0 10px;
}

footer ul>li>a {
    text-decoration: none;
}

footer ul li img {
    width: 40px;
    height: auto;
}

footer .footer-content {
    width: 100%;
}

footer .footer-content p {
    float: right;
    text-align: right;
}

.logo-image {
    width: 150px;
    margin-top: 5px;
}

/* Table styling for Amsterdam page */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0d253f;
    color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #cff;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.contact-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.contact-section p {
    margin-bottom: 30px;
    font-size: 1rem;
}

.contact-form {
    margin: 20px 0;
}

/* Contact Form */
form fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
}

form legend {
    font-weight: bold;
    font-size: 1.2rem;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 80px;
}

/* Submit Button */
form input[type="submit"] {
    padding: 10px 20px;
    background-color: #0d253f;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

/* thank you page */
.thank-you-section {
    background-color: #0d253f;
    color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: 100px auto;
}

.thank-you-section figure {
    margin-bottom: 20px;
}

.thank-you-section img {
    width: 100px;
}

.thank-you-section figcaption {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.thank-you-section a {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.thank-you-section a:hover {
    background-color: #ddd;
}

.thank-you-section p {
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive Design */

/* For Tablets (769px to 1280px) */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
    .content {
        width: 980px;
    }

    header img {
        width: 40px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .image-gallery figure {
        margin-bottom: 20px;
        text-align: center;
    }

    .image-gallery img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    table {
        width: 80%;
    }

    .speech-bubble {
        max-width: 900px;
    }
}

/* For Mobile Screens (up to 768px) */
@media only screen and (max-width: 768px) {
    .content {
        width: 680px;
    }

    header {
        padding: 0.5rem;
    }

    header img {
        width: 30px;
    }

    header form {
        flex-direction: column;
        gap: 10px;
    }

    .search-form {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .image-gallery {
        grid-template-columns: 1fr;
    }

    .image-gallery figure {
        margin-bottom: 20px;
    }

    .image-gallery img {
        width: 100%;
    }

    p {
        width: 100%;
    }

    footer ul li {
        display: block;
        margin: 10px 0;
    }

    table {
        width: 100%;
    }

    .testimonials {
        width: 680px;
    }

    .speech-bubble {
        max-width: 450px;
    }

    figure {
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }
}

/* For Small Mobile Screens (up to 480px) */
@media only screen and (max-width: 480px) {
    .content {
        max-width: 400px;
    }

    .header {
        max-width: 400px;
    }

    header img {
        width: 25px;
    }

    header form input[type="text"] {
        width: 90%;
    }

    nav ul li {
        margin: 5px 0;
    }

    .image-gallery img {
        width: 100%;
    }

    footer ul li img {
        width: 15px;
    }

    p {
        padding: 10px;
    }

    .speech-bubble.left,
    .speech-bubble.right {
        flex-direction: column;
    }
}